.container {
    display: flex;
    align-items: flex-start;
}

.leftColumn {
    width: 10vw;

}

.rightColumn {
    flex-grow: 1;
    text-align: center;

}

.moviesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin: 15px;
}

.movieBlock {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .leftColumn {
        width: 100%;
    }

    .rightColumn {
        width: 100%;
    }
}
